.back{
  background-color: rgb(104, 142, 247);
  height: 700px;
}
.align-middle{
  text-align: center;
  width: 100%;
  font-size: 25px;
}
.inpt-form{
  box-shadow: 0px 0px 5px rgb(38, 70, 156);
  background-color: white;
  width: 100%;
  transition: 0.3s;
}
.inpt-form:hover{
  box-shadow: 0px 0px 25px rgb(38, 70, 156);
  transition: 0.5s;
}
label{
  font-size: 17px;
}
input[type=text]{
  width:500px;
  height: 50px;
  border-radius: 7px;
  border: 0.2px solid gray;
}
.Colo{
  border-radius: 10px;
}
.Colo *{
  margin-top: 3%;
}
button{
  width: 100%;
  padding: 2%;
  border:none;
  background-color: cadetblue;
  color: white;
}
/* Result Styles */
.res-cont-red{
  background-color: rgb(253, 70, 70);
}
.res-cont-green{
  background-color: rgb(80, 204, 42);
}
.res-cont-total{
  background-color: rgb(166, 235, 101);
}
.result-styles{
  color: white;
  font-size: 18px;  
}
.history-styles{
  color: white;
  font-size: 16px;
  box-shadow: 1px 3px 10px rgb(185, 185, 185);
  background-color: rgb(197, 235, 222);  
  transition: 0.3s;
}
.history-styles:hover{
  color: black;
  font-size: 16px;
  box-shadow: 1px 3px 20px rgb(185, 185, 185);
  background-color: rgb(134, 214, 186);  
  transition: 0.8s;
}
.neg-history-styles{
  color: white;
  font-size: 16px;
  box-shadow: 1px 3px 10px rgb(185, 185, 185);
  background-color: rgb(250, 127, 127);  
  transition: 0.3s;
}
.neg-history-styles:hover{
  color: black;
  font-size: 16px;
  box-shadow: 1px 3px 20px rgb(185, 185, 185);
  background-color: rgb(238, 111, 111);  
  transition: 0.8s;
}
.btn-del{
  padding: 7%;
  margin-top:-10px;
  background-color: rgb(216, 52, 52);
  box-shadow: 0px 0px 1px rgb(175, 28, 28);
  transition: 0.2s;
}
.btn-del:hover{
  box-shadow: 0px 0px 7px rgb(175, 28, 28);
  transition: 0.3s;
}
